<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<!--th:text 将div里面的文本内容设置为 -->
	<!-- th:utext不转义特殊字符h1等 -->
	<div id="div01" class="myDiv" th:text="${hello}">这是显示欢迎信息</div>
	<div th:utext="${hello}"></div>
	
	<!-- 数组循环 -->
	<div th:each="arrayS:${arrays}">  
          <div th:text="${arrayS}"></div>  
     </div>  
     
     <!-- list循环对象 -->
     <div th:each="mylistItem:${list}">  
          <div th:text="${mylistItem.id}"></div>  
     </div> 
     
     <!-- 提交表单到后台方法 -->
     <form th:action="@{/upload}" method="post">
	    <input type="text" name="text" />
	    <input type="submit"/>
	</form>
</body>
</html>